body{
	align: center;
background-color: #2b2b2b;

}

body img{

	height: 150px;
object-fit: contain;
align: center;
float:left;
clear:left;


}

h1{

color:#e79632;
font-family: Arial;
text-align: justify;


}



p{
	color:#f6d879;
	font-family: Arial;
	text-align: justify;
	object-fit: contain;
	height:500px;
	width:500px;

	


}


a{
	text-decoration: none;
	color:#f6d879;

}
a:hover{

	text-decoration: none;
	color:#e79632;
}


}

body h1 {
font-family:Arial;
color: #e79632;

}